.black-white {
    color: rgb(228, 228, 228);
    background: rgb(36, 36, 36);
}

body {
    font-size: 20px;
    margin-left: 0px;
    background:rgb(230, 230, 230)
}

.nav {
    font-family: monospace;
    font-size: 20px;
    padding: 10px 50px;
}
.cat_sec {
    padding: 5px 25px;
    margin-left: 15%;
    max-width: 70%;
    background: wheat;
}

.cat {
    padding: 0px 25px;
}

.catname {
    padding: 0px;
    background: red;
    line-height: 8pt ;
}

.p_main {
    background: gainsboro;
    color: darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, 
                Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, 
                Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    padding: 25px;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.highlight {
    color: red;
    font-weight: bold;
}

ul {
    padding: 10px 50px;
    border: 1px;
}

li {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.block_40 { 
    width: 40%; 
    padding: 20px;
    background:yellow
}
.block_60 { 
    width: 60%; 
    padding: 20px;
}